* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-blend-mode: soft-light;
}

/* -------------------------------- DESKTOP CONFIGURATION --------------------------------*/
.content {
    background: url('https://ist-solace.main.ad.rit.edu/~ggm7921/140/project3/assets/imgs/background.png');
    background-position: center;

    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: #efa04361;
}

/* Navigation */
.navigation {
    width: 100%;
    padding: 0px;
    background-color: #EFA043;
    position: fixed;
    z-index: 0;
}

/* Unordered list */
.navigation ul {
    margin: auto;
    padding: 2px;
    max-width: max-content;
    list-style: none;
}


/* List Items */
.navigation li {
    float: left;
}

.navigation li a {
    text-decoration: none;
    margin: 70px;
}


/* Navigation Links */
nav {
    padding: 4px;
    font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-size: 38px;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* ALL HEADERS */
.header {
    text-align: center;

    background: #E6750C;
    margin-left: 100px;
    margin-right: 100px;
}


/* Overview Content */
.overview-content section img {
    float: right;
}

.overview-content section a {
    margin: 0;
}

h1 {
    font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 72px;


}

h2 {

}

h3 {

}

h4 {
    margin-left: 15px;
}

p {

}

img {

}

iframe {

}

a {

}