* {
    margin: 5px;
    box-sizing: border-box;
    background-blend-mode: soft-light;
}

/* -------------------------------- DESKTOP CONFIGURATION --------------------------------*/
/* Navigation */
.navigation {
    width: 98%;
    margin-top: -75px;
    padding: 0px;
    background-color: #EFA043;

    position: fixed;
    z-index: 0;
}

/* Unordered list */
.navigation ul {
    margin: auto;
    padding: 2px;
    max-width: max-content;
    list-style: none;
}


/* List Items */
.navigation li {
    float: left;
}

.navigation li a {
    text-decoration: none;
    margin: 70px;
}


/* Navigation Links */
nav {
    padding: 4px;
    font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-size: 38px;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* ALL HEADERS */
.header {
    margin-top: 100px;
    text-align: center;
    background: #E6750C;

}


h1 {
    font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 72px;
}

h2 {

}

h3 {

}

h4 {
    margin-left: 15px;
}