* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-blend-mode: soft-light;
}

/* -------------------------------- DESKTOP CONFIGURATION --------------------------------*/
.content {
    background: url('https://ist-solace.main.ad.rit.edu/~ggm7921/140/project3/assets/imgs/background.png');
    background-position: center;

    margin-left: 100px;
    margin-right: 100px;
}

.overview {
    margin: 1px;
    padding: 2px;
}

body {
    background-color: #efa04361;
}

/* Navigation */
.navigation {
    width: 100%;
    padding: 0px;
    background-color: #EFA043;
    position: fixed;
    z-index: 0;
}

/* Unordered list */
.navigation ul {
    margin: auto;
    padding: 2px;
    max-width: max-content;
    list-style: none;
}


/* List Items */
.navigation li {
    float: left;
}

.navigation li a {
    text-decoration: none;
    margin: 70px;
}


/* Navigation Links */
nav {
    padding: 4px;
    font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-size: 38px;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* ALL HEADERS */
.header {
    text-align: center;

    background: #E6750C;
    margin-left: 100px;
    margin-right: 100px;
}


/* Overview Content */
.overview-content {
    margin: 13px;
    padding: 5px;
}

.overview-content section img {
    float: right;
}

.overview-content section a {
    margin: 5px;
    padding: 2px;
}

/* PROJECTS GRID AREAS */
.projects1 {
    width: auto;
    margin: 5px;
    margin-top: 200px;
    padding: 5px;
    display: grid;
    grid-template-areas:
        "a b"
        "c c"
        "d d";
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.projects1 h3 {
    text-align: center;
    font-size: 36px;
}

.text1 p {
    margin-right: 150px;
    margin-top: 50px;
    padding: 10px;
}

.image1 {
    grid-area: a;
    float: left;
    padding: 20px;
}

.images h4 {
    grid-area: c;
    text-align: center;
    margin-top: 180px;
    white-space: nowrap;
}

.images {
    grid-area: c;
    text-align: center;
    margin-top: 220px;
    white-space: nowrap;
}

.gamepic {
    grid-area: d;
    text-align: center;
}


/* Project 2 */
.projects2 {
    width: auto;
    margin: 2px;
    padding: 5px;
    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e e"
        "f f";
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.projects2 h3 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

.text2 img {
    grid-area: b;
    float: right;
    padding: 10px;
}

.text3 {
    margin-top: 50px;
}

.text3 img {
    grid-area: c;
    float: left;
    padding: 20px;
}

.text4 {
    margin-top: 50px;
}

.text4 img {
    grid-area: e;
    float: left;
    padding: 20px;
}

.iframevid {
    grid-area: f;
    align-content: center;
    text-align: center;
}

/* Project 3 */
.projects3 {
    width: auto;
    margin: 2px;
    padding: 5px;
    display: grid;
    grid-template-areas:
        "a a"
        "c c"
        "e e"
        "f f";
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.projects3 {
    grid-area: a;
    text-align: center;
}

.projects3 p {
    grid-area: c;
    text-align: left;
}

/* Github section */
.GitHub {
    width: auto;
    margin: 2px;
    padding: 5px;
    display: grid;
    grid-template-areas:
        "a a"
        "e c";
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 150px;
}

.GitHub h2 {
    grid-area: a;
    text-align: center;
}

.GitHub img {
    grid-area: c;
    margin-bottom: 50px;
    float: right;
}

.GitHub a {
    grid-area: e;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

/* References Section */
.References {
    margin-top: 200px;
}

.References h2 {
    text-align: center;
}

/* Regular Headers and Paragraphs */
h1 {
    font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 72px;
}

h2 {
    margin: 5px;
    padding: 5px;

    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
}

h3 {
    margin: 5px;
    padding: 5px;

    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
}

h4 {
    margin: 5px;
    padding: 5px;

    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

p {
    margin: 5px;
    padding: 5px;

    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

img {
    margin: 5px;
    padding: 5px;
}

iframe {
    margin: 5px;
    padding: 5px;
}

a {
    margin: 5px;
    padding: 5px;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}


/*----------------------------- TABLET DESIGN -----------------------------*/
@media only screen and (max-width: 1260px) {
    .content {
        background: url('https://ist-solace.main.ad.rit.edu/~ggm7921/140/project3/assets/imgs/background.png');
        background-position: center;
        margin-left: 80px;
        margin-right: 80px;
    }

    .overview {
        margin: 1px;
        padding: 2px;
    }

    body {
        background-color: #efa04361;
    }

    /* Navigation */
    .navigation {
        width: 100%;
        padding: 0px;
        background-color: #EFA043;
        position: fixed;
        z-index: 0;
    }

    /* Unordered list */
    .navigation ul {
        margin: auto;
        padding: 2px;
        max-width: max-content;
        list-style: none;
    }


    /* List Items */
    .navigation li {
        float: left;
    }

    .navigation li a {
        text-decoration: none;
        margin: 70px;
    }


    /* Navigation Links */
    nav {
        padding: 4px;
        font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    /* ALL HEADERS */
    .header {
        text-align: center;
        background: #E6750C;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    /* Project 1 Text */
    .text1 p {
        margin-right: 10px;
        padding: 10px;
        margin-top: 0px;
    }

    .image1 {
        grid-area: a;
        float: left;
        padding: 20px;
        margin-left: 45px;
    }

    /* Project 2 */
    .text2 {
        text-align: center;
    }

    .text2 p {
        text-align: left;
    }

    .text2 img {
        grid-area: b;
        float: none;
        text-align: center;
        padding: 10px;
    }

    .text4 {
        text-align: center;
    }

    .text4 p {
        text-align: left;
    }

    .text4 img {
        grid-area: e;
        float: none;
        padding: 20px;
    }

    /* Github Section */
    .GitHub {
        width: auto;
        margin: 2px;
        padding: 5px;
        display: grid;

        grid-template-areas:
            "a a"
            "e c";
        align-items: start;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        margin-top: 150px;
        margin-left: 50px;
    }

    .GitHub img {
        grid-area: c;
        margin-bottom: 50px;
        float: none;
    }

} /* End of Tablet Design */



/*----------------------------- MINI TABLET DESIGN -----------------------------*/
@media only screen and (max-width: 1150px) {
    .content {
        background: url('https://ist-solace.main.ad.rit.edu/~ggm7921/140/project3/assets/imgs/background.png');
        background-position: center;
        margin-left: 50px;
        margin-right: 50px;
    }

    .navigation li a {
        text-decoration: none;
        margin: 40px;
    }


    /* Navigation Links */
    nav {
        padding: 4px;
        font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    /* ALL HEADERS */
    .header {
        text-align: center;
        background: #E6750C;
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Project 1 Text */
    .text1 p {
        margin-right: 10px;
        padding: 10px;
        margin-top: 0px;
    }

    .image1 {
        grid-area: a;
        float: none;
        padding: 15px;
        margin-left: 100px;
    }

    /* Project 2 */
    .text2 {
        text-align: center;
    }

    .text2 p {
        text-align: left;
    }

    .text2 img {
        grid-area: b;
        float: none;
        text-align: center;
        padding: 7px;

        width: 550px;
        height: 300px;
    }

    .text4 img {
        grid-area: e;
        float: none;
        padding: 20px;
    }

    /* Github Section */
    .GitHub {
        width: auto;
        margin: 2px;
        padding: 5px;
        display: grid;
        grid-template-areas:
            "a a"
            "e c";
        align-items: start;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-top: 150px;
        margin-left: 50px;
    }

    .GitHub img {
        grid-area: c;
        margin-bottom: 50px;
        margin-left: 50px;
        float: none;

        width: 600px;
        height: 300px;
    }
} /* Mini Tablet DESIGN */


/*----------------------------- PHONE DESIGN -----------------------------*/
@media only screen and (max-width: 800px) {

    .content {
        background: url('https://ist-solace.main.ad.rit.edu/~ggm7921/140/project3/assets/imgs/background.png');
        background-position: center;
        margin-left: unset;
        margin-right: unset;
    }

    .navigation li a {
        text-decoration: none;
        margin: 2px;
    }


    /* Navigation Links */
    nav {
        padding: 4px;
        font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    /* ALL HEADERS */
    .header {
        text-align: center;
        background: #E6750C;
        margin-left: unset;
        margin-right: unset;
    }

    /* Overview Content */
    .overview-content {
        margin: 10px;
        padding: 3px;
        text-align: center;
    }

    .overview-content p {
        text-align: left;
    }

    .overview-content section img {
        float: none;

        width: 200px;
        height: 250px;
    }

    .overview-content section a {
        margin: 3px;
        padding: 1px;
    }

    /* Project 1 */
    .text1 p {
        margin-right: 10px;
        padding: 10px;
        margin-top: 0px;
    }

    .projects1 {
        margin-left: 25px;
    }

    .projects1 img {
        width: 375px;
        height: 340px;
    }

    .image1 {
        grid-area: a;
        float: none;
        padding: 15px;
        margin-left: 0px;
    }

    .images img {
        width: 120px;
        height: 120px;
    }

    /* Project 2 */
    .text2 {
        text-align: center;
    }

    .text2 p {
        text-align: left;
    }

    .text2 img {
        grid-area: b;
        float: none;
        text-align: center;
        padding: 7px;
        width: 350px;
        height: 250px;
    }

    .text3 {
        text-align: center;
    }

    .text3 p {
        text-align: left;
    }

    .text3 img {
        width: 375px;
        height: 260px;
        float: unset;
    }

    .text4 img {
        grid-area: e;
        float: none;
        padding: 10px;
        width: 375px;
        height: 260px;
    }

    iframe {
        width: 375px;
        height: 260px;
    }

    /* Project 3 */
    .projects3 img {
        width: 375px;
        height: 190px;
    }

    /* Github Section */
    .GitHub {
        width: auto;
        margin: 2px;
        padding: 4px;
        display: grid;
        grid-template-areas:
            "a a"
            "e c";
        align-items: start;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: 75px;
    }

    .GitHub img {
        grid-area: c;
        margin-bottom: 50px;
        margin-left: 30px;
        float: none;
        width: 375px;
        height: 260px;
    }

    .GitHub a {
        grid-area: e;
        line-height: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;

        margin-left: 25px;
    }

    .GitHub h2 {
        margin-left: 25px;
    }

    .GitHub h3 {
        margin-left: 25px;
    }

    .GitHub p {
        margin-left: 25px;
    }

    /* Regular Headers and Paragraphs */
    h1 {
        font-family: 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 40px;
    }

    h2 {
        margin: 5px;
        padding: 5px;
        line-height: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
    }

    h3 {
        margin: 5px;
        padding: 5px;
        line-height: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }

    h4 {
        margin: 5px;
        padding: 5px;
        line-height: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
    }

    p {
        margin: 5px;
        padding: 5px;
        line-height: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
    }

    img {
        margin: 3px;
        padding: 3px;
    }

    iframe {
        margin: 3px;
        padding: 3px;
    }

    a {
        margin: 3px;
        padding: 3px;
    }
}
